<div id="search" class="flex border border-gray-300 rounded-xl items-center">
	<input id="searchInput" type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="input border-none bg-transparent"/>
	<button type="button" id="searchButton" class="button-secondary icon bg-transparent border-l border-gray-300">
		<svg aria-hidden="true" viewbox="0 0 24 24">
			<use href="/assets/icons/sprite.svg#icon-search"></use>
		</svg>
	</button>
</div>
