{
    "tabWidth": 4,
    "useTabs": true,
    "singleQuote": true,
    "printWidth": 120,
    "bracketSpacing": true,
    "plugins": ["@prettier/plugin-php", "@zackad/prettier-plugin-twig", "prettier-plugin-tailwindcss"],
    "tailwindConfig": "./tailwind.config.js",
    "overrides": [
        {
            "files": "*.php",
            "options": {
              "parser": "php"
            }
        },
        {
            "files": "*.twig",
            "options": {
                "parser": "twig",
                "twigSingleQuote": false, 
                "twigAlwaysBreakObjects": false,
                "twigFollowOfficialCodingStandards": false,
                "twigOutputEndblockName": false,
                "printWidth": 160
            }
        }
    ]
}